:root {
  --primary: red;
  --primary-dark: orange;
}

body {
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid a {
  display: flex;
  flex-direction: column;
}
