body {
  background: rgb(98, 255, 0);
  margin: 0;
}

/* parent */
img {
  position: relative;
  top: 0;
  left: 0;
}

a {
  cursor: pointer;
}
/* child */

.btn2 {
  position: absolute;
  padding: 20px 130px;
  top: 680px;
  left: 550px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgb(229, 255, 0);
}

.btn3 {
  position: absolute;
  padding: 55px 120px;
  top: 485px;
  left: 396px;
  border: 10px ridge rgb(170, 159, 235);
}

.btn4 {
  position: absolute;
  padding: 65px 65px;
  top: 321px;
  left: 225px;
  border-radius: 50%;
  border: 4px groove rgb(255, 60, 0);
  box-shadow: 2px 2px 50px rgb(0, 247, 255);
}
