* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px serif;
  min-height: 100vh;
}

video .index {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  padding-bottom: 20px;
}

/**INDEX**/

button {
  color: white;
  padding: 20px;
  align-self: center;
  font-size: 72px;
  cursor: pointer;
  outline: none;
  transition: 1s;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

/**PLATFORM**/

map {
  outline: none;
}

h1 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 70px;
  text-decoration: underline;
  padding: 20px 0px 40px;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 40px;
}

footer {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
  padding: 40px 0 20px;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 40px;
}

/**ALL OTHER LINKS**/

video {
  padding-bottom: 40px;
  height: 360px;
  width: 640px;
}

nav {
  position: fixed;
  top: 40px;
  left: 20px;
}

nav img {
  height: 40px;
}
